<h1>Reactive Form / Model Driven Form</h1>
<!--HERE we deal with form group, a form group is one complete data entity you want to create -->
<!--example
User: FormGroup {
  name: FormControl,
  age: FormControl,
  email: FormControl
}
-->


<!-- A SIMPLE FORM -->
<form [formGroup]="userForm">
  <div class="row">
    <label>Name</label>
    <input class="form-control" type="text" formControlName="name">
  </div>
  <div class="row">
    <label>Email</label>
    <input class="form-control" type="email" formControlName="email">
  </div>
  <div class="row">
    <label>Age</label>
    <input class="form-control" type="number" formControlName="age">
  </div>

  <div formGroupName="address">
    <div class="row">
      <label>City</label>
      <input class="form-control" type="text" formControlName="city">
    </div>
    <div class="row">
      <label>pincode</label>
      <input class="form-control" type="number" formControlName="pincode">
      <small *ngIf="userForm.get('address')?.get('pincode')?.hasError('required')">
        Pincode is required
      </small>
      value: {{userForm.get('address')?.get('pincode')?.value}}
      Errors: <pre>{{userForm.get('address')?.get('pincode')?.errors | json}}</pre>
    </div>
  </div>

  <div class="row">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

  <pre>
    {{userForm.value | json}}
  </pre>
<!--<form [formGroup]="userForm" (submit)="saveData()">-->
<!--  <div class="row" *ngFor="let key of keys;">-->
<!--    <label>{{key | titlecase}}</label>-->
<!--    <input class="form-control" type="text" formControlName="{{key}}">-->
<!--    <div>-->
<!--&lt;!&ndash;      ANgular gives safe navigation operator represented by  ?   question mark &ndash;&gt;-->
<!--&lt;!&ndash;      This performs a null check on the part before the  ? and if it is not null, then performs the part after  ? &ndash;&gt;-->
<!--      <small *ngIf="userForm.get(key)?.touched && userForm.get(key)?.hasError('required')">-->
<!--        {{key | titlecase}} is required.-->
<!--      </small>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="btn-group">-->
<!--    <button class="btn btn-primary" type="submit">Submit</button>-->
<!--    <button class="btn btn-warning" type="button" (click)="loadData()" >Set Value</button>-->
<!--    <button class="btn btn-success" type="button" (click)="patchValue()">Patch Value</button>-->
<!--  </div>-->

<!--</form>-->
